//FONT
$primary-font:'Montserrat', sans-serif;

//SIZE
$continer-size-vw: 80vw;

//COLOR
$primary-font-color: #223350;
$bg-body-color: #D2E0FB;
$bg-form-color: #C2DED1;
$button-color: #8EACCD;
$button-hover: #78967b;