/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body {
  background-color: #D2E0FB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #223350;
}
.body .container {
  display: flex;
  width: 80vw;
  height: 70vh;
  background-color: white;
}
.body .container .container__img, .body .container .container__form {
  background-color: aqua;
  width: 40vw;
  height: 70vh;
}
.body .container .container__form {
  background-color: #C2DED1;
}
.body .container .container__form .title__btn {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}
.body .container .container__form .title__btn .container__title {
  font-size: 2rem;
}
.body .container .container__form .title__btn .container__title::before {
  content: "";
  background-color: #223350;
  width: 52px;
  height: 6px;
  position: absolute;
  margin-top: 32px;
  border-radius: 5px;
}
.body .container .container__form .title__btn .btn__login {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  padding: 0 15px;
  border-radius: 7px;
  background-color: #8EACCD;
}
.body .container .container__form .form {
  margin: 50px 30px 0 30px;
  font-weight: 500;
}
.body .container .container__form .form .form__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}
.body .container .container__form .form .form__list .form__item {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 49%;
}
.body .container .container__form .form .form__list .form__item .input-item {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.body .container .container__form .form .form__list .form__item .input-item::-moz-placeholder {
  font-style: italic;
  color: lightgray;
}
.body .container .container__form .form .form__list .form__item .input-item::placeholder {
  font-style: italic;
  color: lightgray;
}
.body .container .container__form .form .gender__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .container .container__form .form .form__submit {
  display: inline-block;
  width: 100%;
}/*# sourceMappingURL=style.css.map */