@import "../abstract/mixins";
@import "../abstract/variables";

.body {
    background-color: $bg-body-color;
    @include center;
    width: 100vw;
    height: 100vh;
    font-family: $primary-font;
    color: $primary-font-color;
    .container {
        display: flex;
        width: $continer-size-vw;
        height: 70vh;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 20px;
        .container__img {
            background-color: aqua;
            border-radius: 20px 0 0 20px;
            width: $continer-size-vw / 2;
            height: 70vh;
            background-image: url("/assets/img/image-form.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size:120%;
        }
        .container__form {
            width: $continer-size-vw / 2;
            height: 70vh;
            border-radius: 0px 20px 20px 0px;
            background-color: $bg-form-color;
            @include center;
            flex-direction: column;
            gap: 3em;
            
            .title__btn {
                display: flex;
                justify-content: space-between;
                align-self: normal;
                margin: 0 30px;
                .container__title {
                    font-size: 2rem;
                    &::before {
                        content: "";
                        background-color: $primary-font-color;
                        width: 52px;
                        height: 6px;
                        position: absolute;
                        margin-top: 32px;
                        border-radius: 5px;
                    }
                }
                .btn__login {
                    @include button-style;
                }
            }
            .form {
                @include center;
                flex-direction: column;
                gap: 3rem;
                margin: 0 30px;
                font-weight: 500;
                .form__list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 20px 10px;
                    .form__item {
                        display: flex;
                        gap: 5px;
                        flex-direction: column;
                        flex-grow: 1;
                        .input-item {
                            font-size: 1rem;
                            font-family: $primary-font;
                            padding: 5px 10px;
                            border: none;
                            border-radius: 10px;
                            outline: none;
                            &::placeholder {
                                font-style: italic;
                                color: lightgray;
                            }
                        }
                    }
                }
                .gender {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    .gender__list {
                        display: flex;
                        justify-content: space-between;
                    }
                    .form__submit {
                        @include button-style;
                        padding: .5em;
                        border-radius: 50px;
                    }
                }
                
            }
        }
    }
}